#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
ul{
  list-style-type: disc;
  
}
li{
  text-align: left;
  margin: 10px 0px;
  padding: 10px;
}
/* pour un rendu plus sombre*/
body {
  background-color: rgb(29, 28, 28);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';     
}
button,#newtask,#redbutton{
  background-color: #0000;
  color: white;
  border: 1px solid black;
  font-size: 1em;
  border-radius: 5px ;     
  margin-left: 15px ;
  padding: 5px 10px;
  
}   
#newtask{
  border: 1px solid #646cff
}
#newtask:hover{
  background-color: #ede6e633;
  cursor: pointer;
}
#newtask:active{
  background-color: #5555;
}
#newtask:focus{
  outline:  #646cff;
  outline-offset: 2px;
}

small{
  color: #aaa;
  font-size: 0.8em;
  
}
#redbutton{

 
}
#redbutton:hover{
  border: 1px solid #ff0000;
  cursor: pointer;
}
#redbutton:active{
  background-color: #c00000;
}
a{
  color: inherit;
  text-decoration: none;
}
a:visited,a:hover,a:active{
  text-decoration: underline;
  color: inherit;
}
input[type="text"]{
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid black;
  width: 300px;
}






